# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.GDS-GROUP8-PROJECT3.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\Unity_Projekty\GDS-GROUP8-PROJECT3\GDS-GROUP8-PROJECT3\.idea\.idea.GDS-GROUP8-PROJECT3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
